.issue-card{
    margin-bottom: 10px;
    // border-radius: 25px;
    // border: 2px solid $hopbush;
}

.issue-card-message{
    margin-bottom: 25px;
}

.issue-list{
    width: 80%;
    margin: 0 auto;
    // text-align: center;
}

.issue-list-title{
    text-align: center;
}
 