.detail-action-card{
    width: 70%;
    margin-left: 15%; // This should be done better
}

.detail-action-card-message{
    margin-bottom: 25px;
}

.detail-action-submit-button{
    background-color: $patina;
    border-color: $patina;
    color: white;

    position: absolute;
    bottom: 0;
    left: 50%;
}

.detail-feedback-card{
    width: 70%;
    margin-left: 15%; // This should be done better
}

